html, body, header { height: 100%; }
body {
  color: #303030;
  font: 18px/28px Helvetica, Arial, sans-serif;
  margin: 0;
}

.row {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background: url('https://s3.amazonaws.com/makeitreal/creativity-post-assets/post2-bg.jpg') no-repeat 50%;
  background-size: cover;
  color: white;
}
header > div {
  position: absolute;
  top: 50%;
  width: 100%;
}
header h1 {
  line-height: 1.2;
  text-shadow: -2px 2px 5px #000;
  margin-bottom: 10px;
}
header p {
  font-size: 21px;
  font-weight: 300;
  text-shadow: -1px 1px 5px #000;
  margin: 0;
}

.details { 
  margin-top: 40px; 
  color: #666;
}
.details-author { 
  float: left;
  font-size: 21px;
}
.details-author img {
  width: 50px;
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 15px;
}
.details-date {
  float: right;
  margin-top: 10px;
}

article.first { margin-top: 140px; }
article p { margin-bottom: 28px; }
blockquote {
  color: #666;
  font-style: italic;
  margin-top: 40px;
  margin-bottom: 40px;
}

.video {
  background: black;
  text-align: center;
  padding: 40px 0 30px;
  margin: 60px 0;
}
